<div>
  <h5>
    <%= @topic.title %>
  </h5>
  <%= if @conn.assigns.user do %>
      <div class="input-field">
        <textarea class="materialize-textarea">
        </textarea>
        <button class="btn">
            Submit comment
        </button>
        <p>Comments: </p>
        <ul class="collection">
        </ul>
      </div>
  <% end %>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.createSocket(<%= @topic.id %>)
    })
</script>
